---
    import '../css/contact-box.css'
    import ContactForm from './ContactForm.astro';
---

<div class="contact_box">
    <h3>Contact us</h3>
    <a href="mailto:contact@psAI.consulting" aria-label="email at contact@psAI.consulting">contact@psAI.consulting</a>
    <ContactForm/>
</div>

<div class="exit_area" role="button" title="close"></div>